/* Custom Styles  */
#ui5Logo {
    padding-left: 10px;
}
#myproLink {
    color: #ffffff;
}
.welcomeText {
	font-size: 1.0rem;
	margin: 2rem;
}
.sapMITBHead {
  white-space: normal;
}
.sapMITBFilter .sapMITBText {
  padding: 0.05rem 0 0;
}